<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">   
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search Bar</title>
    <link rel = "stylesheet" href = "../static/css/searchstyle.css">  
    <style>
      button{
        margin-left: 20px;
      }

   </style> 



</head>  
<body>
    <div class="container">  
        <form action="" class="search-bar"> 
            <input type = "text" id = "search-input" placeholder="search stock" name = "q"> <!-- add search input--> 
            <button type="button"  onclick="searchStocks()"><img src = "../static/img/search.png"></button> 
 
        </form>   
        <!-- <br></br> -->     


    </div> 
    <div class="containerlist">  
        <!--<h3>Current Stocks</h3><br> --> 
        <br> 
        <br><ul id="stock-list" style="color :white; "></ul>   
    </div> 
    <div class="containerlist">  
      <!--<h3>Current Stocks</h3><br> --> 
      <form action="" class="search-bar"> 
        <input type = "text" id = "remove-input" placeholder="remove stock" name = "w"> <!-- add remove input--> 
        <button type="button"  onclick="removeStock()"><img src = "../static/img/remove.png"></button> 
        <button type="button"  onclick="removeAll()"><img src = "../static/img/removeAll.png"></button> 
      </form>     

    </div> 
    <div class="containerlistTwo">   
      <form action="userProfile.html"><button id="homebutton">User</button></form> 
      <form action="login.html"><button id="homebutton">Login</button></form> 
    </div> 

    <script>
        // Array to store the list of stocks
        let stockList = []; 
        /**
         * function to reset, experimental
         **/
        function removeAll(){
          let stockListElement = document.getElementById("stock-list");

          while(stockListElement.firstChild) stockListElement.removeChild(stockListElement.firstChild);

          stockList = [];
        } 
  
        // Function to add an stock to the list
        function addStockToList(stock) {
          // Check if the stock already exists in the list
          if (!stockList.includes(stock)) {
            stockList.push(stock); 
            // Update the list displayed on the HTML page
            let stockListElement = document.getElementById("stock-list"); 
            let newStockListItem = document.createElement("li"); 
            newStockListItem.setAttribute("id", stock); 
  
            newStockListItem.innerText = stock;   
            addDelButton(newStockListItem, stock);
            stockListElement.appendChild(newStockListItem);
            
  
          } else if (stockList.includes(stock)) {
            removeStock();
          }

        }


        function addDelButton(parent, stock) {
          var buttonElem = parent.appendChild(document.createElement("button"));
          buttonElem.innerHTML = "track";
          buttonElem.onclick = function() {
              //this.parentElement.remove();
              //stockList.splice(stockList.indexOf(this.parentElement),1);
              console.log("this function is being called") 
            fetch("http://127.0.0.1:8000/handler/add_stock", {
            method: "POST",
            body: JSON.stringify({"stock": stock
            }),
            headers: {
                "Content-type": "application/json; charset=UTF-8"
            }
            }).then((response) => response.json())
            .then((json) => {
                // do something with the response
            
            });
        }}
            
        // Function to search for stocks
        function searchStocks() {
          let searchInput = document.getElementById("search-input");
          let searchQuery = searchInput.value.trim().toLowerCase();
          // Reset the search input   
          searchInput.value = "";   
          if (searchQuery === "") {
            return
          }
          // Perform the search
          // For this example, we're using a hard-coded list of animals
          let stocks = ["AAPL", "MSFT", "PCAR", "NVDA", "TSLA", "META", "TSM", "JPM", "MA"]; 
          stocks.forEach(function(stock) {      
            if (stock.toLowerCase().includes(searchQuery)) {   
              addStockToList(stock);   
            }
          });
        }
  
        function removeStock() {
          let searchInput = document.getElementById("remove-input");
          let searchQuery = searchInput.value.trim().toUpperCase();
          // Reset the search input   
          searchInput.value = ""; 
          // Perform the search  
          
          stockList.forEach(function(stock) {
            if (stock == (searchQuery)) {
              stockList.splice(stockList.indexOf(searchQuery),1); 
  
              //searchInput.value = "A OK";
  
              let stockListElement = document.getElementById("stock-list");
              let newStockListItem = document.getElementById(searchQuery);
              //newStockListItem.innerText = stockList; 
              stockListElement.removeChild(newStockListItem); 
  
            }
          });
          
    
        }
  
        /*
        function removeStock() {
          var listVar = document.getElementsByTagName("ul").item(0);
          var searchInput = document.getElementById("search-input");
          searchInput.value = "";
          //var item = document.getElementById(candidate.value);
          listVar.removeChild(searchInput.value);
        }
        */
      </script>
      <!-- <script src = "seachdata.js"></script>  will move the javascript code later into the file to improve readibility--> 
</body>
</html>